<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Main User</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
   <table>
    <thead>
        <tr>
            <th> HOLA 1 </th>
            <th> HOLA 2 </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="descarte : ${descartes}">

			<td></td>
            <td><span th:text="${descarte.descartado.id}"> Descartado </span></td>
        </tr>
    </tbody>
</table>

</body></html>